attrs==19.3.0
certifi==2019.11.28
Django==2.2
django-cors-headers==3.2.0
django-environ==0.4.5
django-extensions==2.2.5
django-rest-framework==0.1.0
django-restframework==0.0.1
djangorestframework==3.10.3
gunicorn==19.9.0
importlib-metadata==0.23
more-itertools==7.2.0
packaging==19.2
Pillow==7.0.0
pkg-resources==0.0.0
pluggy==0.13.1
psycopg2-binary==2.8.4
py==1.8.0
PyJWT==1.7.1
pyparsing==2.4.5
pytz==2019.3
six==1.13.0
sqlparse==0.3.0
virtualenv==16.7.9
virtualenv-clone==0.5.3
wcwidth==0.1.7
zipp==0.6.0
